/* Header */

body {
  background-color: rgb(238, 240, 228);
}
.site-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 3rem;
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.nav-right {
  list-style: none;
  display: flex;
  gap: 4rem;
  margin: 0;
  padding: 0;
}
.site-nav a {
  text-decoration: none;
  color: black;
}

.logo {
  height: 8rem;
}
.logo-text {
  font-family: Luckiest guy;
  font-weight: 200;
  font-size: 3rem;
}

.skateboard {
  max-width: 25%;
  height: auto;
}
